<% if current_user.present? %>
  <p>You're signed in.</p>
  <% if current_user.spotify_token.blank? %>
    <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
  <% else %>
    <table>
    <% @tracks.map do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td><%= track.artists.map { |a| a['name'] }.join(', ') %></td>
        <td><%= track.remote_resource_id %></td>
        <td><%= RemoteRecord::Spotify::Track.tempo_for(track, token: current_user.spotify_token['credentials'].token) %></td>
      </tr>
    <% end %>
  <% end %>
<% else %>
  <%= link_to 'Sign up', new_user_session_path %>
<% end %>
